<a href="<%= root_path %>">
  <%= image_tag 'color-logo-transparent-xs.svg', alt: 'Open Source Citizen logo', style: 'width: 270px;' %>
</a>

<!--
<ul>
  <% if current_user %>
    <li><a href="/dashboard">Dashboard</a></li>
  <% else %>
    <li><a href="<%= project_new_path %>">Add my project</a></li>
  <% end %>
  <li><a href="<%= documentation_index_path %>">Documentation</a></li>
  <li><a href="<%= help_path %>">Help</a></li>
</ul>
-->
