<div class="readme-badge">
  <p>
    <a href="<%= project_path(url: url) %>">
      <%= image_tag '/badge' %>
    </a>
  </p>

  <pre>[![Donate with Open Source Citizen](<%= ENV['ROOT_URL'] %>/badge?url=<%= url %>)](<%= ENV['ROOT_URL'] %>/project?url=<%= url %>)

If you found this library useful, donate some CPU cycles to its
development efforts by clicking above. Thank you! 😇</pre>
</div>
