<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Media Kit</h1>

      <h3 id="graphics">Graphics</h3>

      <%= image_tag 'mediakit/svg/color_logo_transparent.svg', width: '300' %>

      <p>Click on the links below to download the specific logo you need.</p>

      <ul>
        <li>
          dark transparent:
          <%= link_to 'png', asset_path('mediakit/png/dark_logo_transparent@2x.png') %>
          <%= link_to 'svg', asset_path('mediakit/svg/dark_logo_transparent.svg') %>
        </li>
        <li>
          white transparent: 
          <%= link_to 'png', asset_path('mediakit/png/white_logo_transparent@2x.png') %>
          <%= link_to 'svg', asset_path('mediakit/svg/white_logo_transparent.svg') %>
        </li>
        <li>
          color transparent: 
          <%= link_to 'png', asset_path('mediakit/png/color_logo_transparent@2x.png') %>
          <%= link_to 'svg', asset_path('mediakit/svg/color_logo_transparent.svg') %>
        </li>
        <li>
          color white background: 
          <%= link_to 'png', asset_path('mediakit/png/color_with_background@2x.png') %>
          <%= link_to 'svg', asset_path('mediakit/svg/color_with_background.svg') %>
        </li>
      </ul>

      <h3 id="brand-guidelines">Brand Guidelines</h3>

      <p>See the <a href="https://logojoy.com/b/opensourcecitizen">brand guidelines</a> by clicking <a href="https://logojoy.com/b/opensourcecitizen">here</a>.</p>

      <!--
      <h3>Open Source Citizen description</h3>

      <p>Coming soon.</p>

      <h3>Short Open Source Citizen description</h3>

      <p>Coming soon.</p>
      -->
    </div>
  </div>
</div>
